/* General Body Styles */
body {
    font-family: 'Inter';
    padding: 0;
    background-color: #000;
    color: #fff;
    transition: background-color 0.5s, color 0.5s;
    line-height: 0; 
}

/* Header Styles */
header {
    background-color: #000;
    text-align: right;
    padding: 1em;
    transition: background-color 0.5s;
    display: flex;
    align-items: center;
}

.home-icon {
    cursor: pointer;
    margin-right: auto;
    font-size: 25px;
    font-family: 'Press Start 2P';
}

.home-icon:hover {
    color: #724cf9;
}

header a {
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.5s;
}

header a.resume,
header a.projects {
    font-family: 'Inter';
    font-size: 17px;
}

.toggle-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* Section Styles */
section {
    max-width: 80%;
    margin: 20px auto;
    padding: 2px;
    background-color: #000;
    border-radius: 8px;
    font-size: 130%;
    line-height: 1.3;
    transition: background-color 0.5s, color 0.5s;
}

section.dark-mode {
    background-color: #fff;
    color: #000;
}

/* Typography Styles */
h2 {
    margin: 0;
}

h4 {
    color: #724cf9;
    font-size: 18px; 
    line-height: 0;
}

p {
    line-height: 1.6;
    color: #fff;
    margin: 0;
    font-size: 80%;
    transition: color 0.5s;
}

/* List Styles */
ul {
    list-style-type: disc;
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
    font-size: 16px;
}

/* Two-Column Section Styles */
.two-column-section {
    display: flex;
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #000;
    border-radius: 8px;
    margin-top: 50px;
    margin-bottom: 50px; 
}

.text-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-column h1 {
    color: #724cf9;
    font-size: 60px;
    margin-bottom: 0.2em;
    margin-top: 0;
    transition: color 0.5s;
    max-width: 100%;              
    font-family: 'DM Sans';
}

.text-column p {
    line-height: 1.6;
    color: #fff;
    margin: 0;
    transition: color 0.5s;
    font-size: 70%;
}

.image-column {
    flex: 1;
    text-align: right;
}

.image-column img {
    max-width: 65%;
    object-fit: contain;
    background-color: transparent; 
}

/* Contact Container Styles */
.contact-container {
    display: flex;
    max-width: 70%;
    margin: auto; 
    padding: 0;
}

.contact-container a {
    text-decoration: none; 
}

.contact-icon {
    margin-right: 10px;
    font-size: 120%; 
}

.contact-handle {
    flex: 1;
    background: none;
    border: none;
    color: white;
    outline: none;
    font-size: 100%; 
}

.contact-handle::placeholder {
    color: white; 
    font-family: 'Inter';
}

/* Curved Rectangle Styles */
.curved-rectangle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
    max-width: 100%; 
    border: 2px solid white;
    background-color: black;
    border-radius: 20px;
    padding: 2%;
    color: white;
    margin: 7px;
    margin-top: 0;
    margin-bottom: 40px;
    margin-right: 1%;
}

.curved-rectangle:hover {
    transform: scale(1.01);
}

/* Timeline Styles */
.timeline {
    position: relative;
    width: 50%;
    margin: 0 30% 0 12%;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 5px;
    width: 1px;
    height: calc(100% - 20px);
    background-color: #724cf9;
}

.timeline-entry {
    position: relative;
    margin-bottom: 8px;
}

.timeline-circle {
    width: 10px;
    height: 10px;
    background-color: #724cf9;
    border-radius: 50%;
    position: absolute;
    margin-top: 7px;
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.52);
    }
    100% {
        transform: scale(1);
    }
}

.circle-pulsate {
    animation: pulsate 1s ease-in-out infinite;
}

.timeline-content {
    padding-left: 30px; 
    width: auto;
}

.timeline-title {
    color: #724cf9;
    font-size: 120%;
    margin-bottom: 0.2em;
    margin-top: 0;
    width: 155%; 
    line-height: 1.2;
}

.timeline-date {
    margin: 0;
    margin-bottom: 4px;
    padding: 0;
    font-size: 100%;
    line-height: 1.2; 
    color: #8e9aaf !important; 
    width: 155%; 
}

.timeline-description { 
    font-size: 100%; 
    color: #fff;
    width: 155%; 
    line-height: 1.5;
}

.fas.fa-sun {
    color: white; 
}

/* Skills Section Styling */
#skills {
    text-align: center;
    padding: 20px;
}

.skills-table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    border-spacing: 10px 10px; 
}

.skills-table td {
    padding: 8px;
    text-align: center;
    vertical-align: top;
}

.skills-table img {
    width: 50px; 
    height: 50px; 
    object-fit: contain; 
    display: block; 
    margin: 0 auto;
    border-radius: 10px; 
}

.skills-table p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}
