body {
    font-family: 'Inter';
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    transition: background-color 0.5s, color 0.5s;
}

header {
    background-color: #000;
    text-align: right;
    padding: 1em;
    transition: background-color 0.5s;
    display: flex;
    align-items: center;
}

.home-icon {
    cursor: pointer;
    margin-right: auto;
    font-size: 25px;
    margin-top: 0;
    font-family: 'Press Start 2P';
}

.home-icon:hover {
    color: #724cf9;
}

header a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    font-weight: normal;
    transition: color 0.5s;
}

header a.resume,
header a.projects {
    font-size: 17px;
    font-family: 'Inter';
}

.toggle-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.toggle-button img {
    width: 30px;
    height: auto;
}

/* Header Styling */
h1 {
    max-width: 65%;
    margin: 40px auto 1px auto;
    background-color: #000;
    border-radius: 7px;
    font-size: 30px;
    line-height: 0.5;
    transition: background-color 0.5s, color 0.5s;
}

h1.dark-mode {
    color: #fff;
}

/* Text Styling */
h2 {
    line-height: 0;
    font-size: 20px; 
}

p {
    font-size: 15px;
    font-family: 'Inter';
}

.date-text {
    color: #8e9aaf;
    font-size: 15px;
    margin-top: 3px;
    transition: color 0.5s;
}

/* Project List Styling */
.project-list {
    font-size: 14px; /* Smaller font size for bullet points */
    list-style-type: disc;
    padding-left: 20px; /* Indentation for bullet points */
}

/* Rectangle Container Styling */
.rectangles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

/* Rectangle Styling */
.rectangle {
    display: flex;
    margin: 10px;
    background-color: #000;
    border-radius: 15px;
    overflow: hidden;
    width: 80%;
    height: 10%; 
    max-width: 65%;
    border: 2px solid #fff;
    transition: transform 0.2s ease, color 0.5s, border-color 0.5s;
}

.rectangle:hover {
    transform: scale(1.01);
    color: #000;
}

.rectangle.dark-mode {
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
}

.rectangle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 15px 15px 0;
}

/* Textbox Styling */
.textbox {
    flex: 2;
    padding: 15px;
    color: #fff;
    line-height: 1.5;
    transition: color 0.5s;
    font-size: 14px;
}

.textbox p {
    margin: 0;
    margin-bottom: 10px;
}

.textbox ul {
    padding-left: 20px;
    margin-left: 0;
}

.textbox.dark-mode {
    color: #000;
}

/* Image Styling */
.image {
    flex: 1;
    overflow: hidden;
}

/* Hover Effects */
.rectangle:hover h2,
.rectangle .image:hover h2 {
    color: #724cf9;
}

/* Icon Styling */
.fas.fa-sun {
    color: white;
}
